In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv("../Data/Downtown_LA_Weather_Data.csv")

/Users/eoin/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (8,10,11,27,28,29,33,34,64,84,85,86,87) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [43]:
df.keys()
hourlyCols = ['DATE', 'REPORTTPYE', 'HOURLYVISIBILITY', 'HOURLYDRYBULBTEMPF', 'HOURLYRelativeHumidity','HOURLYPrecip']
dailyCols = ['DATE', 'DAILYMaximumDryBulbTemp', 'DAILYMinimumDryBulbTemp', 'DAILYAverageDryBulbTemp',
              'DAILYAverageRelativeHumidity', 'DAILYSunrise', 'DAILYSunset', 'DAILYPrecip', 'DAILYSnowfall', 
              'DAILYSnowDepth', 'DAILYAverageWindSpeed']

In [44]:
# df.to_csv(path_or_buf="ReducedWeather.csv", columns=colsToKeep)

In [57]:
dailySummaries = df.loc[df["REPORTTPYE"] == "SOD"][dailyCols].copy()
hourlySummaries = df.loc[((df["REPORTTPYE"] == "FM-15") | (df["REPORTTPYE"] == "FM-16"))][hourlyCols].copy()

In [63]:
def heatIndex(T, R):
    c1 = -42.379
    c2 = 2.04901523
    c3 = 10.14333127
    c4 = -0.22475541
    c5 = -6.83783e-3
    c6 = -5.481717e-2
    c7 = 1.22874e-3
    c8 = 8.5282e-4
    c9 = -1.99e-6
    return c1 + c2 * T+c3 * R + c4 *T * R + c5 * T**2 + c6 * R**2 + c7 * T**2 * R + c8 * T * R**2 + c9 * T**2 * R**2

In [65]:
wrapper = lambda row: heatIndex(row["HOURLYDRYBULBTEMPF"], row["HOURLYRelativeHumidity"])
hourlySummaries["HOURLYDRYBULBTEMPF"] = pd.to_numeric(hourlySummaries["HOURLYDRYBULBTEMPF"], errors="coerce")
hourlySummaries["HOURLYRelativeHumidity"] = pd.to_numeric(hourlySummaries["HOURLYRelativeHumidity"], errors="coerce")
hourlySummaries["HOURLYHeatIndex"] = hourlySummaries.apply(wrapper, axis=1)

hourlySummaries.head()

,DATE,REPORTTPYE,HOURLYVISIBILITY,HOURLYDRYBULBTEMPF,HOURLYRelativeHumidity,HOURLYPrecip,HOURLYHeatIndex
0,2010-01-01 00:47,FM-15,10.00,54.0,47.0,0.00,90.857208
1,2010-01-01 01:47,FM-15,10.00,53.0,51.0,0.00,93.280408
2,2010-01-01 02:47,FM-15,10.00,53.0,48.0,0.00,92.748596
3,2010-01-01 03:47,FM-15,10.00,53.0,48.0,0.00,92.748596
4,2010-01-01 04:47,FM-15,10.00,52.0,53.0,0.00,95.417298

In [68]:
wrapper = lambda row: heatIndex(row["DAILYAverageDryBulbTemp"], row["DAILYAverageRelativeHumidity"])

dailySummaries["DAILYAverageDryBulbTemp"] = pd.to_numeric(dailySummaries["DAILYAverageDryBulbTemp"], errors="coerce")
dailySummaries["DAILYAverageRelativeHumidity"] = pd.to_numeric(dailySummaries["DAILYAverageRelativeHumidity"], errors="coerce")
dailySummaries["DAILYAverageHeatIndex"] = dailySummaries.apply(wrapper, axis=1)

dailySummaries.head()

,DATE,DAILYMaximumDryBulbTemp,DAILYMinimumDryBulbTemp,DAILYAverageDryBulbTemp,DAILYAverageRelativeHumidity,DAILYSunrise,DAILYSunset,DAILYPrecip,DAILYSnowfall,DAILYSnowDepth,DAILYAverageWindSpeed,DAILYAverageHeatIndex
24,2010-01-01 23:59,70.0,51,60.0,44.0,659,1656,0.00,NaN,NaN,0.9,82.598461
49,2010-01-02 23:59,78.0,50,64.0,35.0,659,1657,0.00,NaN,NaN,0.9,78.191896
74,2010-01-03 23:59,79.0,54,66.0,24.0,659,1657,0.00,NaN,NaN,1.3,74.808287
99,2010-01-04 23:59,77.0,56,66.0,24.0,659,1658,0.00,NaN,NaN,2.3,74.808287
124,2010-01-05 23:59,78.0,54,66.0,34.0,659,1659,0.00,NaN,NaN,1.6,77.251239

In [69]:
dailySummaries.to_csv(path_or_buf="DailyWeather.csv")
hourlySummaries.to_csv(path_or_buf="HourlyWeather.csv")