In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import re

In [2]:
crimeData = '../Data/Crime_Data_Clean_Consolidated.csv'

In [3]:
dfCrime = pd.read_csv(crimeData).drop(["Unnamed: 0"], axis=1)

In [4]:
dfCrime.head()

,ID,DateReported,DateOccurred,TimeOccurred,AreaID,ReportingDistrict,CrimeCode,MOCodes,VictimAge,VictimSex,...,DailyAverageDryBulbTemp,DailyAverageRelativeHumidity,DailySunrise,DailySunset,DailyPrecip,DailySnowfall,DailySnowDepth,DailyAverageWindSpeed,DailyAverageHeatIndex,night
0,180204779,2018-01-17,2010-01-01,00:01:00,2,245,813,0510 0522 0558 1258 0602,-1,F,...,60,44,06:59:00,16:56:00,0.0,0.0,0.0,0.9,82.6,1
1,172020383,2017-11-12,2010-01-01,00:01:00,20,2074,354,0100,51,F,...,60,44,06:59:00,16:56:00,0.0,0.0,0.0,0.9,82.6,1
2,171913109,2017-06-13,2010-01-01,00:01:00,19,1994,354,0377 1822,42,F,...,60,44,06:59:00,16:56:00,0.0,0.0,0.0,0.9,82.6,1
3,172013071,2017-06-28,2010-01-01,00:01:00,20,2025,820,1257 0550,-1,F,...,60,44,06:59:00,16:56:00,0.0,0.0,0.0,0.9,82.6,1
4,171809308,2017-04-05,2010-01-01,00:01:00,18,1891,760,0515 0913 1817 1820 0516 0500 0506,18,F,...,60,44,06:59:00,16:56:00,0.0,0.0,0.0,0.9,82.6,1

In [5]:
crimeLen = len(dfCrime)

In [6]:
dateCounts =  dfCrime["DateReported"].value_counts()
dateCounts/crimeLen*100

2017-08-07    0.048468
2017-12-18    0.047625
2017-07-24    0.047144
2017-10-23    0.046421
2017-11-28    0.045879
2016-07-05    0.045759
2017-07-17    0.045759
2017-08-28    0.045638
2017-05-22    0.045398
2017-09-11    0.045217
2017-06-05    0.045096
2017-01-17    0.045036
2016-01-22    0.044976
2015-10-12    0.044916
2017-07-19    0.044916
2016-11-28    0.044856
2017-08-31    0.044856
2017-09-05    0.044675
2016-06-27    0.044675
2016-09-20    0.044555
2017-10-16    0.044494
2017-07-31    0.044374
2017-07-25    0.044374
2017-11-14    0.044314
2015-06-29    0.044314
2015-08-25    0.044254
2016-08-22    0.044254
2016-11-01    0.044193
2016-10-26    0.044193
2017-02-01    0.044133
                ...
2010-01-02    0.022398
2013-11-28    0.022157
2012-11-22    0.022097
2015-12-25    0.021735
2014-01-19    0.021615
2011-01-02    0.020832
2013-12-25    0.020290
2011-12-25    0.019989
2010-01-01    0.019508
2010-12-25    0.018544
2018-01-02    0.014089
2018-01-01    0.012162
2018-01-03    0.011982
2018-01-04    0.009573
2018-01-05    0.008128
2018-01-08    0.007044
2018-01-09    0.006563
2018-01-11    0.005238
2018-01-12    0.005118
2018-01-10    0.004937
2018-01-15    0.004275
2018-01-06    0.004094
2018-01-18    0.003793
2018-01-16    0.003432
2018-01-07    0.003432
2018-01-13    0.002890
2018-01-19    0.002890
2018-01-17    0.002830
2018-01-14    0.002288
2018-01-20    0.000662
Name: DateReported, Length: 2942, dtype: float64

In [7]:
dates = [datetime.strptime(date, "%Y-%m-%d") for date in dfCrime["DateReported"]]

In [8]:
months1 = [re.sub("\d{4}-","",date) for date in dfCrime["DateOccurred"]]
months2 = [re.sub("-\d{2}","",date) for date in months1]

In [9]:
months = pd.DataFrame(months2)

In [10]:
counts = months[0].value_counts()
counts/len(months)*100

08    8.668035
10    8.656475
07    8.647865
01    8.615171
05    8.510889
06    8.370783
03    8.339475
09    8.330865
12    8.273004
04    8.149877
11    7.992792
02    7.444770
Name: 0, dtype: float64

There Doesnt seem to be any one month that has significantly more crime

In [11]:
days = [re.sub("\d{4}-\d{2}-","",date) for date in dfCrime["DateOccurred"]]
days = pd.DataFrame(days)
counts = days[0].value_counts()
counts/len(days)*100

01    5.029009
15    3.521197
20    3.354057
10    3.290416
16    3.251823
23    3.250378
17    3.244176
18    3.242912
28    3.238095
14    3.235385
21    3.234783
25    3.230448
24    3.229846
22    3.224548
05    3.221778
13    3.210519
19    3.210158
26    3.202632
03    3.196792
12    3.192577
02    3.189446
27    3.186375
04    3.162774
11    3.144049
06    3.141761
08    3.139352
07    3.139292
09    3.120567
29    3.028809
30    2.995453
31    1.940593
Name: 0, dtype: float64

It would seem as though the first of the month has significantly more crime than other days. However, I believe this is noise. I think they just put the first when they don't know when it occured.

In [12]:
days = [re.sub("\d{4}-\d{2}-","",date) for date in dfCrime["DateReported"]]
days = pd.DataFrame(days)
counts = days[0].value_counts()
counts/len(days)*100

21    3.351830
28    3.347976
18    3.345387
22    3.330696
23    3.329733
16    3.321785
20    3.318534
19    3.311068
17    3.308058
27    3.305408
15    3.303361
01    3.301013
26    3.288610
13    3.283613
24    3.277231
14    3.267236
12    3.267116
10    3.259770
07    3.256398
03    3.245380
02    3.243935
25    3.240262
11    3.238215
06    3.236891
05    3.219912
08    3.218527
09    3.214794
04    3.212265
29    3.153923
30    3.076193
31    1.924879
Name: 0, dtype: float64

Interesting that on the 31st there are very few crimes reported.

In [13]:
dates = [datetime.strptime(date, "%Y-%m-%d") for date in dfCrime["DateReported"]]

In [14]:
DaysOfWeek = [date.strftime("%A") for date in dates]

In [15]:
DaysOfWeek = pd.DataFrame(DaysOfWeek)
counts = DaysOfWeek[0].value_counts()
counts/len(DaysOfWeek)*100

Monday       15.500541
Tuesday      15.242425
Wednesday    15.013330
Thursday     14.779178
Friday       14.387519
Saturday     12.680597
Sunday       12.396411
Name: 0, dtype: float64

In [16]:
dates = [datetime.strptime(date, "%Y-%m-%d") for date in dfCrime["DateOccurred"]]

In [17]:
DaysOfWeek = [date.strftime("%A") for date in dates]

In [18]:
DaysOfWeek = pd.DataFrame(DaysOfWeek)
counts = DaysOfWeek[0].value_counts()
counts/len(DaysOfWeek)*100

Friday       15.440332
Saturday     14.391794
Monday       14.228808
Wednesday    14.151199
Thursday     14.061668
Tuesday      13.999533
Sunday       13.726666
Name: 0, dtype: float64

In [19]:
DaysOfWeek.head()

        0
0  Friday
1  Friday
2  Friday
3  Friday
4  Friday

In [22]:
dfCrime["DaysOfWeek"] = DaysOfWeek

In [23]:
dfCrime.head()

,ID,DateReported,DateOccurred,TimeOccurred,AreaID,ReportingDistrict,CrimeCode,MOCodes,VictimAge,VictimSex,...,DailyAverageRelativeHumidity,DailySunrise,DailySunset,DailyPrecip,DailySnowfall,DailySnowDepth,DailyAverageWindSpeed,DailyAverageHeatIndex,night,DaysOfWeek
0,180204779,2018-01-17,2010-01-01,00:01:00,2,245,813,0510 0522 0558 1258 0602,-1,F,...,44,06:59:00,16:56:00,0.0,0.0,0.0,0.9,82.6,1,Friday
1,172020383,2017-11-12,2010-01-01,00:01:00,20,2074,354,0100,51,F,...,44,06:59:00,16:56:00,0.0,0.0,0.0,0.9,82.6,1,Friday
2,171913109,2017-06-13,2010-01-01,00:01:00,19,1994,354,0377 1822,42,F,...,44,06:59:00,16:56:00,0.0,0.0,0.0,0.9,82.6,1,Friday
3,172013071,2017-06-28,2010-01-01,00:01:00,20,2025,820,1257 0550,-1,F,...,44,06:59:00,16:56:00,0.0,0.0,0.0,0.9,82.6,1,Friday
4,171809308,2017-04-05,2010-01-01,00:01:00,18,1891,760,0515 0913 1817 1820 0516 0500 0506,18,F,...,44,06:59:00,16:56:00,0.0,0.0,0.0,0.9,82.6,1,Friday

In [27]:
days = set(counts.index)

In [28]:
daysCrime = {}
for day in days:
    daysCrime[day] = {}

def addCrimeDay(row):
    day = row["DaysOfWeek"]
    try:
        daysCrime[day][row["CrimeCode"]] += 1
    except KeyError:
        daysCrime[day][row["CrimeCode"]] = 1

In [30]:
dfCrime.apply(addCrimeDay, axis=1)

0          None
1          None
2          None
3          None
4          None
5          None
6          None
7          None
8          None
9          None
10         None
11         None
12         None
13         None
14         None
15         None
16         None
17         None
18         None
19         None
20         None
21         None
22         None
23         None
24         None
25         None
26         None
27         None
28         None
29         None
           ...
1660854    None
1660855    None
1660856    None
1660857    None
1660858    None
1660859    None
1660860    None
1660861    None
1660862    None
1660863    None
1660864    None
1660865    None
1660866    None
1660867    None
1660868    None
1660869    None
1660870    None
1660871    None
1660872    None
1660873    None
1660874    None
1660875    None
1660876    None
1660877    None
1660878    None
1660879    None
1660880    None
1660881    None
1660882    None
1660883    None
Length: 1660884, dtype: object

In [31]:
dfCrime.head()

,ID,DateReported,DateOccurred,TimeOccurred,AreaID,ReportingDistrict,CrimeCode,MOCodes,VictimAge,VictimSex,...,DailyAverageRelativeHumidity,DailySunrise,DailySunset,DailyPrecip,DailySnowfall,DailySnowDepth,DailyAverageWindSpeed,DailyAverageHeatIndex,night,DaysOfWeek
0,180204779,2018-01-17,2010-01-01,00:01:00,2,245,813,0510 0522 0558 1258 0602,-1,F,...,44,06:59:00,16:56:00,0.0,0.0,0.0,0.9,82.6,1,Friday
1,172020383,2017-11-12,2010-01-01,00:01:00,20,2074,354,0100,51,F,...,44,06:59:00,16:56:00,0.0,0.0,0.0,0.9,82.6,1,Friday
2,171913109,2017-06-13,2010-01-01,00:01:00,19,1994,354,0377 1822,42,F,...,44,06:59:00,16:56:00,0.0,0.0,0.0,0.9,82.6,1,Friday
3,172013071,2017-06-28,2010-01-01,00:01:00,20,2025,820,1257 0550,-1,F,...,44,06:59:00,16:56:00,0.0,0.0,0.0,0.9,82.6,1,Friday
4,171809308,2017-04-05,2010-01-01,00:01:00,18,1891,760,0515 0913 1817 1820 0516 0500 0506,18,F,...,44,06:59:00,16:56:00,0.0,0.0,0.0,0.9,82.6,1,Friday

In [39]:
dfDaysCrime = pd.DataFrame(daysCrime).head()

In [43]:
weekdays = list(dfDaysCrime)
for day in weekdays:
    col = dfDaysCrime[day].dropna()
    totalCrime = np.sum(col)
    top5 = ((col.sort_values(ascending=False))/totalCrime).head(5)
    print(day)
    print(top5)
    print()

Friday
210    0.859723
121    0.103104
110    0.025338
122    0.011748
113    0.000088
Name: Friday, dtype: float64

Monday
210    0.872481
121    0.088477
110    0.027474
122    0.011478
113    0.000090
Name: Monday, dtype: float64

Saturday
210    0.833487
121    0.122137
110    0.032883
122    0.011492
Name: Saturday, dtype: float64

Sunday
210    0.831517
121    0.118101
110    0.035276
122    0.015106
Name: Sunday, dtype: float64

Thursday
210    0.875311
121    0.086927
110    0.026835
122    0.010926
Name: Thursday, dtype: float64

Tuesday
210    0.873948
121    0.088033
110    0.027377
122    0.010448
113    0.000193
Name: Tuesday, dtype: float64

Wednesday
210    0.870642
121    0.089861
110    0.028158
122    0.011339
Name: Wednesday, dtype: float64

Type of crime does not differ significantly relative to day of the week.